@model CatanScoreboard.Models.LeaderViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Catan Scoreboard</h1>
    <p>PLs no cheat</p>
</div>

<section>
    <table class="front-table table">
        <thead class="front-table-head">
            <tr>
                <th class="th-1">Rank</th>
                <th class="th-2">Name</th>
                <th class="th-3">Points</th>
                <th class="th-4">Wins</th>
                <th class="th-5">Games</th>
                <th class="th-5">Avg Points</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Players)
        {
            <tr>
                <td class="td-1">@p.CurrentRank</td>
                <td class="td-2">@p.Name</td>
                <td class="td-3">@p.TournamentPoints</td>
                <td class="td-4">@p.Wins</td>
                <td class="td-5">@p.Games</td>
                <td class="td-6">@p.AvgPoints</td>
            </tr>
            }
        </tbody>
    </table>
</section>
